*{
    margin: 0 auto;
    padding: 0 auto;
}

.main{
    width: 100%;
} 





.banner_principal{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url("../../../public//assets/banner_principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    height: 400px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: #c9f3b6;
    padding-bottom: 20px;
}
.banner_principal #subtitle, h1{
    font-family: 'Kaushan Script', cursive;
}
.banner_principal h1{
    width: 100%;
    font-size: 90px;
}
.banner_principal h3{
    font-size: 30px;
    width: calc(100% - 10px);
    padding-left: 10px;
}





.introducao #title-marcas{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    padding-top: 30px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e6e6e6;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.introducao #line{
    background-color: rgb(221, 223, 222);
    height: 3px;
    border: 1px solid #e6e6e6;
    width: 246px;
}




.marcas{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    overflow-x: scroll;
    width: calc(100% - 100px) ;
    padding: 0 50px;
}
.marcas a{
    text-decoration: none;
    color: #e6e6e6;
}
.marcas .marca{
    text-align: center;
    margin: 0 10px;
}
.marcas .marca img{
    width: 150px;
    height: 100px;
    border-radius: 50% 50% 10px 10px;
}
.marcas .marca p{
    padding-bottom: 20px;
}




.area-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}




.filtros{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(350px - 100px);
    padding: 30px 50px;
    margin: 0;
}

.filtros .filtro{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #919191;
    width: 100%;
}
.filtros .filtro h4{
    font-size: 18px;
    width: 100%;
}
.filtros .filtro label{
    font-size: 15px;
    margin: 0;
    padding-top: 5px;
    
}
.filtros .filtro label input{
    margin-right: 6px;
}




.frete{
    /*margin: 0;*/
    padding-top: 60px;
    width: 300px;
    text-align: center;
}
.frete img{
    width: 300px;
    box-shadow: 3px 3px 5px #a09f9f;
}
.frete p{
    font-size: 14px;
    margin-top: 20px;
}




.produtos-diversidade{
    /*margin: 0;*/
    margin-left: 40px;
    padding-top: 60px;
    width: 300px;
    text-align: center;
}
.produtos-diversidade img{
    width: 300px;
    box-shadow: 3px 3px 5px #a09f9f;
}
.produtos-diversidade p{
    font-size: 14px;
    margin-top: 20px;
}



.cupom{
    /*margin: 0;*/
    margin-left: 40px;
    padding-top: 60px;
    width: 300px;
    text-align: center;
}
.cupom img{
    width: 300px;
    height: 300px;
    box-shadow: 3px 3px 5px #a09f9f;
}
.cupom p{
    font-size: 14px;
    margin-top: 20px;
}



.produtos-mais-vendidos{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 40px;
    width: calc(100%);
}
.produtos-mais-vendidos .produtos{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: calc(100% - 100px);
    padding-left: 50px;
    padding-right: 50px;
}
.produtos-mais-vendidos .produtos .produto{
    margin: 40px 10px;
    position: relative;
}
.produtos-mais-vendidos .produtos .produto img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
}
.produtos-mais-vendidos .produtos .produto .shadow{
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    box-shadow: inset 0px 0px 10px 0px #353434;
    border-radius: 8px;
}
