* {
    margin: 0 auto;
    padding: 0 auto;
}

.header_theme_dark{
    background-color: #161f35;
    width: calc(100% - 100px);
    height: 70px;
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_theme_light{
    background-color: #4e78b6;
    width: calc(100% - 100px);
    height: 70px;
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.area-pesquisa{
    width: calc(50%);
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.area-pesquisa .icons_1{
    margin: 0;
    display: flex;
    align-items: center;
}

#logo{
    width: 150px;
    height: 45px;
}

#input_pesquisar{
    height: 28px;
    width: 400px;
    margin-left: 50px;
    outline: none;
    border: 1px solid rgb(104, 101, 101);
    border-radius: 15px 0 0 15px;
    padding-left: 10px;
    font-size: 15px;
}
#input_pesquisar:focus{
    box-shadow: 3px 3px 15px rgb(42, 154, 219);
}
#input_pesquisar:focus ~ #button-search{
    box-shadow: 3px 3px 15px  rgb(42, 154, 219);
}

#img-button{
    width: 20px;
    height: 20px;
}
#button-search{
    width: 40px;
    height: 32px;
    border-radius: 0 15px 15px 0;
    border-top: 1px solid rgb(104, 101, 101);
    border-right: 1px solid rgb(104, 101, 101);
    border-bottom: 1px solid rgb(104, 101, 101);
    border-left: none;
    background-color: rgb(206, 204, 204);
}
#button-search:hover{
    background-color: rgb(184, 184, 184);
    cursor: pointer;
}

.area-user-config{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 0
}
.area-user-config .icons{
    margin: 0;
    position: relative;
}

#config{
    width: 30px;
    height: 30px;
    margin-right: 25px;
}
#config:hover{
    cursor: pointer;
}

#img-user{
    width: 28px;
    height: 30px;
}
#img-user:hover{
    cursor: pointer;
}


.popup_login_cadastro{
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 5px;
    width: 250px;
    height: 200px;
    left: -207px;
    top: 40px;
    text-align: center;
    padding: 20px;
}

.popup_login_cadastro #message_login{
    font-size: 12px;
    margin-bottom: 10px;
}
.popup_login_cadastro a{
    background-color: #39a6ff;
    text-decoration: none;
    color: #fff;
}
#link_login{
    padding: 5px 70px;
    margin-top: 10px;
}