* {
    margin: 0 auto;
    padding: 0 auto;
}

.header{
    background-color: rgb(213, 248, 188);
    width: calc(100% - 100px);
    height: 70px;
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .area-pesquisa{
    width: calc(50%);
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.header .area-pesquisa .icons_1{
    margin: 0;
    display: flex;
    align-items: center;
}

.header #logo{
    width: 45px;
    height: 45px;
}

.header input{
    height: 28px;
    width: 400px;
    margin-left: 50px;
    outline: none;
    border: 1px solid rgb(104, 101, 101);
    border-radius: 15px 0 0 15px;
    padding-left: 10px;
}

.header #img-button{
    width: 20px;
    height: 20px;
}
.header button{
    width: 40px;
    height: 32px;
    border-radius: 0 15px 15px 0;
    border-top: 1px solid rgb(104, 101, 101);
    border-right: 1px solid rgb(104, 101, 101);
    border-bottom: 1px solid rgb(104, 101, 101);
    border-left: none;
    background-color: rgb(206, 204, 204);
}
.header button:hover{
    background-color: rgb(184, 184, 184);
    cursor: pointer;
}

.header .area-user-config{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 0
}
.header .area-user-config .icons{
    margin: 0;
}

.header #config{
    width: 30px;
    height: 30px;
    margin-right: 25px;
}
.header #config:hover{
    cursor: pointer;
}

.header #img-user{
    width: 28px;
    height: 30px;
}
.header #img-user:hover{
    cursor: pointer;
}

